<template>
  <div id="app">
    <component :is="layout" v-if="layout" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  name: "App"
})
export default class App extends Vue {
  get layout(): string {
    return this.$route.meta.layout || "MainLayout";
  }
}
</script>

<style lang="scss">
@import "styles/index";
</style>
