<template>
  <div id="guest">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  name: "GuestLayout"
})
export default class App extends Vue {
  get layout(): string {
    return this.$route.meta.layout || "GuestLayout";
  }
}
</script>
