<template>
  <div class="inbox">
    <div class="inbox-sb"></div>
    <div class="inbox-bx container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Sent</a></li>
            <li><a href="#">Trash</a></li>
          </ul>
        </div>
        <div class="col-md-10">
          <table class="table table-stripped">
            <tbody>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star"></i></td>
                <td><b>Mozilla</b></td>
                <td>
                  <b>In celebration of women and girls everywhere</b>
                </td>
                <td></td>
                <td>Mar 10</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Dan Glenn</td>
                <td>
                  [ptcuser-announcements] - PTC/USER Expert Speaker Series
                  Webinar March 9, 2017 11AM (EST)
                </td>
                <td><i class="fa fa-paperclip"></i></td>
                <td>Mar 10</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
              <tr>
                <td><input type="checkbox" /></td>
                <td><i class="fa fa-star-o"></i></td>
                <td>Jetpack</td>
                <td>
                  Announcing some highly requested improvements and our new
                  affiliate program
                </td>
                <td></td>
                <td>Mar 08</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
