<template>
  <nav class="mnb navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <i class="ic fa fa-bars"></i>
        </button>
        <div style="padding: 15px 0;">
          <a href="#" id="msbo" @click="togetherSidebar"
            ><i class="ic fa fa-bars"></i
          ></a>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">En</a></li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Draude Oba <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Settings</a></li>
              <li><a href="#">Upgrade</a></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-bell-o"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-comment-o"></i></a>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search..." />
        </form>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import * as $ from "jquery";
import { Component, Vue } from "vue-property-decorator";
@Component({
  name: "Header"
})
export default class Header extends Vue {
  public togetherSidebar() {
    $("body").toggleClass("msb-x");
  }
}
</script>
