<template>
  <div id="page-login">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="panel-title text-center">X-THEME BETA</div>
              <hr />
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <form
                    @submit.prevent="handleLogin"
                    class="col-lg-offset-1 col-lg-10"
                  >
                    <div class="form-group input-group">
                      <span class="input-group-addon"
                        ><i class="fa fa-user"></i
                      ></span>
                      <input
                        type="text"
                        v-model="user.email"
                        class="form-control"
                        placeholder=""
                      />
                    </div>
                    <div class="form-group input-group">
                      <span class="input-group-addon"
                        ><i class="fa fa-lock"></i
                      ></span>
                      <input
                        type="password"
                        v-model="user.password"
                        class="form-control"
                        placeholder=""
                      />
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                      <button type="submit" class="form-control btn btn-login">
                        <i class="fas fa-sign-in-alt"></i> Login
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";
const Auth = namespace("Auth");

@Component({
  name: "Login"
})
export default class Login extends Vue {
  private user: any = { email: "", password: "" };

  @Auth.Action
  private login!: (data: any) => Promise<any>;

  private async handleLogin() {
    await this.login(this.user)
      .then(() => {
        this.$router.push({ name: "Home" });
      })
      .catch(error => {
        console.log(error);
      });
  }
}
</script>

<style lang="css">
@import url(https://fonts.googleapis.com/css?family=Quicksand);
.container {
  padding-top: 90px;
  font-family: "Quicksand", sans-serif;
}
.panel-title {
  font-size: 33px;
  color: #888888;
}
.panel-login {
  padding-bottom: 1em;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0)
  );
}
.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59b2e0;
  outline: none;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  border-color: #ccc;
}
.input-group {
  margin-top: 35px;
}

#username:focus,
#password:focus {
  border-top: 2px solid #0db8de;
  border-right: 2px solid #0db8de;
  border-bottom: 2px solid #0db8de;
  border-bottom: 2px solid #b1b1b1;
  padding-bottom: 3.5px;
}
#username,
#password {
  border-radius: 0.25rem;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#login-submit {
  color: #008080;
  background-color: #fff;
  margin-top: 25px;
  transition: all 0.1s ease;
}
#login-submit:hover {
  background-color: rgb(67, 67, 155);
  color: #fff;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-placeholder {
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  padding: 12px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 16px;
}

.form-control-focused {
  font-size: 95%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.form-control:focus + .form-control-placeholder,
.form-control:not(:placeholder-shown) + .form-control-placeholder,
.form-control:valid + .form-control-placeholder,
.form-control:-webkit-autofill:focus + .form-control-placeholder {
  font-size: 95%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.form-control:not(:placeholder-shown) + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.panel-login input:focus ~ label,
.panel-login input:not(:placeholder-shown) ~ label,
.panel-login input:valid ~ label,
.panel-login input:-webkit-autofill:focus ~ label {
  font-size: 95%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
</style>
